@import "../../assets/styles/variables.scss";
.bg {
  padding: 1.25rem 1.875rem;
  .searchBar {
    .heading {
      color: $primary-color;
      line-height: 2.875rem;
      font-weight: 100;
      font-family: "Rubik", sans-serif;
      font-size: 2.438rem;
    }
  }
}
