@import "../../assets/styles/variables.scss";

.bg {
  background-color: #ffffff;
  padding: 15px;
  display: flex;
  .textWarpper {
    margin-right: 20px;
    .mainHeading {
      font-size: 13px;
      font-weight: 400;
      color: $sub-heading-color;
      line-height: 19px;
      margin: 0px;
      font-family: 'Roboto', sans-serif;
    }
    .subHeading {
      font-size: 19px;
      font-weight: 400;
      color: $primary-color;
      line-height: 25px;
      margin: 0px;
      font-family: 'Rubik', sans-serif;
    }
    
  }
}
