@import "../../assets/styles/variables.scss";

.bg {
 padding: 0.938rem;
 border-top: 1px solid #E9E9E9;
 display:flex;
 justify-content: flex-end;
 margin-left: 1.875rem;
 margin-right: 1.875rem;
 .txt{
  font-size: 0.813rem;
  font-weight: 400;
  color: $sub-heading-color;
  line-height: 1.188rem;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
 }
}

@media (min-width: 320px) and (max-width: 767px) {
    .bg {
        display:block;
    }
  
  }
